* {
    font-family: 'Readex Pro', sans-serif;
    font-weight: 400;
}

body {
    background-color: rgb(62, 105, 105);
    margin: 0;
    padding: 0;
}

#container {
    width: 100%;
}

#container div {
    display: flex;
    flex-direction: row;
    margin-bottom: 1%;
}

#container div label {
    width: 25%;
    padding-top: 1%;
    margin-right: 1%;
    color: whitesmoke;
}

#container div input {
    flex: 1;
    height: 1.5em;
    border-radius: 5px;
    border: none;
    padding: 1%;
}

#container div input[name='Telefon'] {
    margin-bottom: 1em;
}

#container h1 {
    color: whitesmoke;
}

#container div select {
    border-radius: 5px;
}

#idot {
    color: black;
    height: 40px;
    width: 100%;
    cursor: pointer;
    border-radius: 5px;
    border: none;
}

#idot:hover {
    opacity: 90%;
}

#idot2 {
    color: black;
    height: 40px;
    width: 100%;
    cursor: pointer;
    border-radius: 5px;
    border: none;
}

#idot2:hover {
    opacity: 90%;
}

.form {
    position: absolute;
    width: 50vw;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background-color: darkslategrey;
    padding: 50px;
    border-radius: 10px;
    -webkit-box-shadow: 12px 12px 25px 0px rgba(0, 0, 0, 0.34);
    -moz-box-shadow: 12px 12px 25px 0px rgba(0, 0, 0, 0.34);
    box-shadow: 12px 12px 25px 0px rgba(0, 0, 0, 0.34);
    z-index: -1;
}

.tillbaka {
    position: absolute;
    top: 1em;
    left: 1em;
    color: whitesmoke;
    text-decoration: none;
    z-index: -1;
}

.tillbaka:hover {
    opacity: 95%;
    text-decoration: underline;
}

.fel {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, .33);
    color: whitesmoke;
}

.fel div {
    padding: 1em;
    width: 33vw;
    height: 33vh;
    background-color: rgb(100, 148, 148);
    border-radius: 10px;
    -webkit-box-shadow: 12px 12px 25px 0px rgba(0, 0, 0, 0.34);
    -moz-box-shadow: 12px 12px 25px 0px rgba(0, 0, 0, 0.34);
    box-shadow: 12px 12px 25px 0px rgba(0, 0, 0, 0.34);
}

#fel {
    font-size: 20px;
    font-weight: bold;
}

#kryss {
    float: right;
    cursor: pointer;
}

#kryss:hover {
    opacity: 69%;
}

.visalosen {
    float: right;
    position: relative;
    margin-left: -26px;
    margin-top: 1%;
}

#oga {
    cursor: pointer;
}

#hur {
    opacity: 0;
    margin-right: -12px;
}

.idotidot {
    margin-right: -2px;
}

.anvandare * {
    color: whitesmoke;
}

#hogerpil {
    font-size: 28px;
    position: absolute;
    cursor: pointer;
    bottom: 45%;
    left: 95%;
}

#vansterpil {
    font-size: 28px;
    position: absolute;
    cursor: pointer;
    bottom: 45%;
    right: 95%;
}

#hogerpil:hover {
    opacity: 85%;
}

#vansterpil:hover {
    opacity: 85%;
}